{% extends "base.html.twig" %}

{% block titre %}
    Accueil
{% endblock %}

{% block main %}
    <div class="row title text-center mt-5">
        <h1>Accueil</h1>
        {% set colors = ["Red","Green","Blue","Black","Orange","Yellow"] %}
        <p> {{ colors|join("-") }} </p>

        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ipsam? Nostrum rem voluptate commodi, distinctio suscipit nisi necessitatibus nam, voluptatem vitae modi, saepe ut quibusdam? Mollitia perspiciatis sit eligendi voluptatibus!
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, ipsam? Nostrum rem voluptate commodi, distinctio suscipit nisi necessitatibus nam, voluptatem vitae modi, saepe ut quibusdam? Mollitia perspiciatis sit eligendi voluptatibus!
        </p>
        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quisquam beatae inventore non, error hic sunt aut nam consectetur tenetur aliquid quam. Veritatis provident doloremque vel totam esse iste dolores!</span><span>Odit molestiae deserunt unde officia, laborum maxime quas. Numquam, inventore accusamus! Ea libero, nemo, adipisci assumenda sunt vero non, ipsum eum perferendis voluptatum iure maxime animi quia laborum reiciendis consequatur.</span><span>Perspiciatis quisquam minus dignissimos quidem delectus eligendi praesentium, voluptate repudiandae non, labore voluptatem illum voluptates tempore nobis magni natus, reprehenderit corporis possimus quia? Ab enim facilis, voluptates delectus et tempore.</span><span>Ut eveniet fugiat iure in, voluptatum debitis dolores at! Vel aperiam itaque labore quasi deserunt, reprehenderit excepturi id earum porro error, ratione consequuntur modi illo harum sunt. Voluptatibus, obcaecati quibusdam!</span><span>Quas, hic. Quibusdam, quo voluptas cupiditate exercitationem eveniet iure odit? Distinctio, blanditiis nulla consequatur cumque quos ullam deleniti similique a numquam cupiditate. Maxime nobis voluptates suscipit quaerat consectetur officia aliquid.</span><span>Quaerat eaque numquam, nobis perspiciatis architecto vero quis et cum omnis eos quas, iste blanditiis reiciendis ipsam molestias nesciunt adipisci beatae. Ab eveniet sint tempora iusto blanditiis eum maiores error?</span><span>Repellendus laudantium cupiditate soluta quam, commodi quo reprehenderit id beatae tempore, non minus esse aspernatur autem. Eveniet fugit assumenda ad odio magni, vel eius numquam, hic maiores qui debitis dicta.</span><span>Velit dicta tenetur exercitationem magnam fugit aspernatur cum laudantium? Modi ea, labore perspiciatis est ipsam consequatur minima sit possimus expedita voluptates odio beatae odit consequuntur aut laudantium porro excepturi voluptatibus.</span><span>Eos incidunt adipisci sint deserunt architecto ex nihil hic vero eveniet, iure nulla a quam magnam explicabo quod error excepturi minus eaque obcaecati totam ad repudiandae doloremque impedit exercitationem! Eum.</span><span>Reprehenderit sapiente eveniet omnis possimus harum ex, quod cum recusandae aut quam nisi magni. Aspernatur facilis, quae nam incidunt reiciendis odio. Suscipit sed vel voluptas ut minus earum debitis quibusdam!</span></p>
    </div>
{% endblock %}