{% extends "layouts/base.html.twig" %}

{% block titre %}
    Blog
{% endblock %}

{% block main %}
    <div class="row title text-center mt-5">
        <h1>Blog</h1>
        
    </div>
{% endblock %}