<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calc</title>
</head>
<body>
    <form action="" method="get">
        <label for="">opérande</label>
        <input type="number" name="op1" >
        <input type="submit" value="calculer">        
    </form>
    <h1>Resultat: {{result}} </h1>
</body>
</html>