{% extends "layouts/base.html.twig" %}

{% block titre %}
    Ajouter un article
{% endblock %}

{% block main %}

<h1 class="text-center mt-5" >Ajouter un artcile</h1>

<div class="row mt-5">
    <div class="col-6 offset-3">
        {{ form(articleForm) }}
    </div>
</div>

{% endblock %}